In [4]:
real_long_string = 'this is a really long string. \
    It has multiple parts, \
    but  all in one line. '
real_long_string

"Isn't this fun"

In [13]:
single_quoted_string = 'data science'
double_quoted_string = "data science"
escaped_string = ' Isn\'t this fun'
another_string = "Isn't this fun"
new = '\t'
len(new)

1

In [30]:
integer_list = [1, 2, 3]
heterogeneous_list = ["string", 0.1, True]
list_of_lists = [ integer_list, heterogeneous_list, [] ]
list_of_lists

[[1, 2, 3], ['string', 0.1, True], []]

In [44]:
x = [i for i in range(10)]
print(x)
zero = x[0]
one = x[1]
nine = x[-1]
eight = x[-2]
print(x[-3])
print(x[1:5])
print(x[:3])
print(x[-3:])
print(x[3:])
print(x[1:-1])
print(x[:]) # coppy
print(x[:3] + x[3:]) # when we sum two list of number

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
7
[1, 2, 3, 4]
[0, 1, 2]
[7, 8, 9]
[3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [51]:
### check for memberships
1 in [1,2,3] #True
### Concatenate lists 
x = [1, 2, 3]
y = [4, 5 ,6]
x.extend(y) #extend to concatenate or we can use x + y
print(x)

[1, 2, 3, 4, 5, 6]

In [58]:
### List unpacking(multiple assignment)
x , y = [1, 2] # x is 1 and y is 2
[x,y]
x, y = 1,2 # x is 1 and y is 2
_ , y = [1, 2] #y is 2, didn't care about the first element

In [83]:
### Modify content of list
x =[i for i in range(9)]
x[2] = x[2] * 2 # x is [0, 1, 4, 5, 6, 7, 8]
x[-1] = 0 #x =[0, 1, 4, 3, 4, 5, 6, 7, 0]
x[3:5] = x[3:5] *3 # x is [0, 1, 4, 9, 12, 5, 6, 7, 0] 
x[5:6] = [] # x is [0, 1, 4, 9, 12, 7, 0] 
print(x)
del x[:2] # del = delete 
print(x)

[0, 1, 4, 3, 4, 4, 3, 4, 5, 6, 7, 0]
[4, 3, 4, 4, 3, 4, 5, 6, 7, 0]

In [79]:
### Strings can also be sliced. But they cannot be modified ( they are immutable )
s = 'abcdefg'
a = s[0] #'a'
x = s[:2] # 'ab'
y = s[-3:] # 'efg'
# s[:2] = 'AB'#this will be cause an error because strings are immutable
s = 'AB' + s[2:] #str is now ABcdefg

In [88]:
for i in range(5) :
    print(i) #will print 0, 1, 2, 3, 4 ( in separate lines)
for i in range(2,5):
    print(i) #will print 2, 3, 4
for i in range(0,10,2):
    print(i) #will print 0, 2, 4, 6, 8
for i in range(10,2,-2):
    print(i) # will print 10, 8, 6, 4
a = ['Mary', 'had', 'a', 'little', 'lamb']
for i in range(len(a)):
    print(i, a[i])
# 0 Mary
# 1 had
# 2 a
# 3 little
# 4 lamb

0
1
2
3
4
2
3
4
0
2
4
6
8
10
8
6
4
0 Mary
1 had
2 a
3 little
4 lamb

In [ ]:
print (range(3)) # in python 3, will see "range(0, 3)"
print (range(3)) # in python 2, will see "[0, 1, 2]"
print (list(range(3))) # will print [0, 1, 2] in python 3

x = range(5)
print (x[2])	# in python 2, will print "2"
print (x[2])	# in python 3, will also print “2”

x[2] = 5	# in python 2, will result in [0, 1, 5, 3, 4, 5]
x[2] = 5	# in python 3, will cause an error.

In [90]:
#ref to lists
# what are the expected output for the following code?
a = list(range(10))
b = a 
b[0] = 100
print(a) # it use the address of list
a = list(range(10))
b = a[:] #coopy a and we have different list 
b[0] = 100
print(a)

[100, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [101]:
#### TUPLES using () , and tuple similar to lists but are immutable
a_tuple = (0, 1, 2, 3, 4)
other_tuple = 3,4
print(type(other_tuple))
another_tuple = tuple([0, 1, 2, 3, 4])
print(another_tuple)
heterogeneous_tuple = ('join', 1.1 , [1,2])
print(heterogeneous_tuple)
a = (1,)
print(type(a))
a = (1) # type(a)  int
#### Note: tuple is defined by comma, not parens, which is only used for convinience. So a =(1) is not a tuple, but a = (1,) is

<class 'tuple'>
(0, 1, 2, 3, 4)
('join', 1.1, [1, 2])
<class 'tuple'>

In [107]:
#tuple -2 
#useful for returning multiple values from functions

def sum_and_product(x, y): 
    return (x +y), (x*y)
sp = sum_and_product(2,3) # equals (5, 6) 
print(type(sp))
#sp[0] = 10 error : 'tuple' object does not support item assignment
# print(sp)
s , p = sum_and_product(5,10) # s is 15, p is 50 
print(type(s))
#tuples and lists can also be used for multiple assignments
x, y = 1, 2
[x, y] = [1, 2]
(x, y) = (1, 2)
x , y = y , x
print(x, y)

<class 'tuple'>
<class 'int'>
2 1

In [116]:
#dictionaries
#A dictionary asociates values with unique keys
empty_dict = {} #pythonic
empty_dict2 = dict() #less pythonic
grades = {"Joel" : 80, "Tim": 95} #dictionary literal
print(type(empty_dict2))
#Access/ modify value with key
joels_grade = grades["Joel"] #equals 80
print(joels_grade) #get value with key
grades["Tim"] = 99 # replaces the old value
grades["Kate"] = 100 #adds a third entry
num_strudents = len(grades)
print(grades)
try : 
    kates_grade = grades["AAA"]
except KeyError:
    print("no grade for AAA!")

<class 'dict'>
80
{'Joel': 80, 'Tim': 99, 'Kate': 100}
no grade for AAA!

In [128]:
#Dictionaries - 2 
#Check for existence of key
joel_has_grade = "Joel" in grades #True
kate_has_grade = "Kate" in grades #False
#Use "get" to avoid keyError and add default value
joels_grade = grades.get("Joel",0) #equals 80
kates_grade = grades.get("Kate", 0) #equals 0
#Get all items
all_keys = grades.keys()	# return a list of all keys
all_values = grades.values() # return a list of all values
all_pairs = grades.items() # a list of (key, value) tuples
print(all_keys,all_values,all_pairs)
#In python3, The following will not return lists but iterable objects

dict_keys(['Joel', 'Tim', 'Kate']) dict_values([80, 99, 100]) dict_items([('Joel', 80), ('Tim', 99), ('Kate', 100)])

In [2]:
### Control flow 
#loops
x = 0 
while x < 10:
    print(x ,"is less than 10")
    x += 1
for x in  range(10):
    if x == 3 :
        continue
    if x == 5 :
        break
    print(x)

0 is less than 10
1 is less than 10
2 is less than 10
3 is less than 10
4 is less than 10
5 is less than 10
6 is less than 10
7 is less than 10
8 is less than 10
9 is less than 10
0
1
2
4

In [3]:
###exception
try: 
    print(0/0)
except ZeroDivisionError:
    print("Cannot do this calculation")

Cannot do this calculation

In [12]:
#Function : Function are defined using def
def Summarize(a,b):
    return (a + b)
print(Summarize(3,5))
#some time, it is useful to specify argument by name 
def subtract(a=0, b= 0):
    return a-b
print(subtract(5,6))
#Function are objects too
def double(x) : return x*2 
DD = double
DD(2)

8
-1

4

In [30]:
#Function : Lambda 
#small anonymous functions can be created with the lambda keyword
def apply_to_one(f):
    return f(1)
y = apply_to_one(lambda x: x+4)

def small_function(x): return x+4
apply_to_one(small_function)
pairs = [(2,'two'), (3,'three'), (1,'one'), (4,'four')]
pairs.sort(key = lambda pair:pair[0])
pairs

[(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four')]